{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:import/typescript",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended",
    "prettier",
    "airbnb-base"
  ],
  "ignorePatterns": [
    "webpack.*.js"
  ],
  "settings": {
    "import/resolver": {
      "typescript": {},
      "node": {
        "extensions": [".js", ".jsx", ".ts", ".tsx"],
        "moduleDirectory": ["src/"]
      }
    }
  },
  "rules": {
    "no-console": 1,
    "no-duplicate-imports": 2,
    "no-extra-boolean-cast": "warn",
    "comma-dangle": "off",
    "no-undef": "warn",
    "import/extensions": "off",
    "import/no-named-as-default": 0,
    "indent": "off",
    "prettier/prettier": [
      "error",
      {
        "endOfLine": "auto"
      }
    ],
    "no-unused-vars": [
      "warn",
      { "vars": "all", "args": "after-used", "ignoreRestSiblings": true, "varsIgnorePattern": "React" },
    ],
    "no-shadow": "off",
    "no-param-reassign": "warn",
    "import/prefer-default-export": "off",
    // really need to remove this one but embedded brought in a lot of dep cycles.
    "import/no-cycle": "off",
    "object-curly-newline": "off",
    "operator-linebreak": "off",
    "function-paren-newline": "off",
    "implicit-arrow-linebreak": "off",
    "no-confusing-arrow": "off",
    "eqeqeq": 2,
    "quotes": [
      2,
      "single"
    ]
  }
}