# File intentionally left blank. The _files_ key in _package.json_ dictates
# what is published to NPM, but if this file doesn't exist, NPM will observe
# files in the _.gitignore_ file as it's source of truth, instead of _package.json_